* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.creation-date {
    color:#5e5e5e;
    font-size:90%;
}

body > header {
    background-color: rgba(0, 0, 0, 0.89);
    padding: 20px 0;
}

header .container {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    font-weight: 550;
}

header li a {
    text-decoration: none;
}

header li a:hover { 
    text-decoration:underline;
}

header li a {
    color: #e6e6e6;
}

header h1 {
    color: #fff;
    font-size: 36px;;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.articles article img {
    height: 300px;
    width: 100%;
}   

.articles article {
    width: 30%;
}

section {
    padding: 20px 0;
}

section h2,
.articles article {
    margin-bottom: 20px;
}
.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    margin-top: 8px;
    font-weight:600;
}

.articles article a:hover {
    text-decoration:underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

section h2 {
    font-size: 32px;;
    color: rgba(0, 0, 0, 0.932);
}

.articles article h3 {
    font-size: 22px;
}

#sports {
    background-color:#023b1667;
}

#sports .articles article a {
    background-color: rgba(0, 122, 37, 0.945);
}

#economy {
    background-color: #f2ac579a;
}

#economy .articles article a {
    background-color: rgb(148, 97, 1);
}

#technology {
    background-color: #264fbf48;
}

#technology .articles article a {
    background-color: rgba(0, 0, 139, 0.822);
}

#cultura {
    background-color: rgba(241, 33, 43, 0.158);
}

#cultura .articles article a {
    background-color: red;
} 